INTEGRINEWS_DB_URL=sqlite:///./integri_news.db
INTEGRINEWS_MODEL_PATH=./model_assets/fakenewsdetector.h5
INTEGRINEWS_TOKENIZER_PATH=./model_assets/tokenizer.pickle
INTEGRINEWS_ALLOWED_ORIGINS=http://localhost:5173
